
<!-- プレゼントボックスの表示 -->
<div class="box-menu-control">
    <!--ボックス追加ボタン-->
    <div class="add-box-wrap">
      <%= link_to new_box_path do %>
        <%= image_tag "add_box.png", class: "add-box-button" %> 
      <% end %>
    </div>
  <div class="box-menu">
    <!-- ボックス一覧表示 -->
    <% if @boxes.any? %>
      <% @boxes.each do |box| %>
        <%= link_to box_path(box.id) do %>
          <div class="box-set">
            <%= image_tag box.image, class:"box-icon" if box.image.attached? %>
            <div class="box-name">
              <%= box.box_name %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <!-- ボックスが登録されていない場合の処理 -->
      <div class="box-set">
        <%= image_tag "samplebox.jpg", class: "box-icon", alt: "サンプル" %>
        <div class="box-name">
          サンプル
        </div>
      </div>
    <% end %>

  </div>
</div>


