<%= render partial: "shared/second-header" %>


<%= form_with model: @present, url: present_path, class: 'registration-main', id:"new_post", local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>
      プレゼントを編集する
    </h1>
  </div>
<div class="post">
  <%= render partial: 'form', locals: { f: f, present: @present } %>
</div>


  <div class='register-btn'>
    <%= f.submit "変更する" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>

<%= render "shared/second-footer"%>

