<%= render 'shared/header' %>
<!--メイン-->
<main>
  <div class="contents-wrap">
    <div class="left-side">

    </div>

    <div class="center">
      <!--メイン表示-->
      <%= render 'index_main' %>

      <!--投稿一覧-->
      <div class="post-index">
        <% @presents.each do |present| %>
          <% if present.image.attached? %>
            <%= link_to present_path(present) do %>
              <div class="post-image-wrap">
                <%= image_tag present.image, class:"post-image" %>
              </div>
            <% end %>

        <% end %>
      <% end %>
      </div>
    </div>

    <div class="right-side">
      <!--投稿ボタン-->
      <a class="purchase-btn" href="/presents/new">
        <span class="purchase-btn-text">キロク</span>
        <span class="purchase-btn-text-small">する</span>
        <%= image_tag "addpresent.png", class:"purchase-btn-icon" %>
      </a>
    </div>
  </div>
</main>
