<%= form_with(model: @box, local: true) do |f| %>
  <div class="post">
    <%# プロフィール画像 %>
    <div class="form-box-group">
      <div class="form-text">
        アイコン画像
        <span class="required">必須</span>
      </div>
      <div>
        <!-- 既存の画像のプレビュー -->
        <% if @box.image.attached? %>
          <div id="image-preview">
            <%= image_tag url_for(@box.image), class: "box-show-image" %>
          </div>
        <% end %>
        <div class="click-upload">
          <%= f.file_field :image, id:"box-image" %>
        </div>
      </div>
    </div>
    <br>
    <%# /プロフィール画像 %>
    <br>
  <div class="profile">
    <!-- プレゼントボックスのなまえ -->
    <div class="form-edit-wrapper">
      <label for="box_name">プレゼントボックスのなまえ <span class="required">必須</span></label>
      <%= f.text_field :box_name, class: "box-text-small", id: "box_name", placeholder: "（必須 40文字まで)", maxlength: 40 %>
    </div>

    <!-- お誕生日 -->
    <div class="form-edit-wrapper1">
      <label for="birth-day">お誕生日</label><br>
      <%= render 'form_birthday' %>
      <%#= f.date_select :birth_day, class: "birthday", id: "birth-day", use_month_numbers: true, prompt: '', start_year: 1930, end_year: Time.now.year, date_separator: '' %>

    </div>

    <!-- 記念日 -->
    <div class="form-edit-wrapper2">
      <label for="anniversary-date">記念日</label><br>
      <div class='input-birth-wrap'>
        <%= raw sprintf(
                    f.date_select(
                      :anniversary_day,
                      class: 'select-birth',
                      id: 'anniversary',
                      use_month_numbers: true,
                      prompt: '--',
                      start_year: 1930,
                      end_year: Time.now.year,
                      date_separator: '%s'
                    ),
                    "<p> 年 </p>",
                    "<p> 月 </p>"
                  ) + "<p> 日 </p>" %>
      </div>
    </div>

    <!-- 記念日のメモ -->
    <div class="form-edit-wrapper3">
      <label for="anniversary-memo">記念日のメモ</label><br>
      <%= f.text_area :anniversary_memo, class: "box-text", id: "anniversary-memo", placeholder: "例) おうち記念日（400文字まで)", maxlength: 400 %>
    </div>

    <!-- 所属・職業・特徴 -->
    <div class="form-edit-wrapper4">
      <label for="occupation">所属・職業・特徴</label>
      <%= f.text_area :occupation, class: "box-text", id: "occupation", placeholder: "例) 会社員　日曜大工（必須 40文字まで)", maxlength: 40 %>
    </div>

    <!-- 趣味・特技 -->
    <div class="form-edit-wrapper5">
      <label for="hobbies">趣味・特技</label><br>
      <%= f.text_area :hobbies, class: "box-text", id: "hobbies", placeholder: "例) お昼寝（40文字まで)", maxlength: 40 %>
    </div>

    <!-- 好きなもの -->
    <div class="form-edit-wrapper6">
      <label for="likes">好きなもの</label><br>
      <%= f.text_field :likes, class: "input-default-regular", id: "likes", placeholder: "例) 乾燥ささみ" %>
    </div>

    <!-- 苦手なもの -->
    <div class="form-edit-wrapper7">
      <label for="dislikes">苦手なもの</label><br>
      <%= f.text_field :dislikes, class: "input-default-regular", id: "dislikes", placeholder: "例) 大きな音" %>
    </div>
  </div>


    <!-- 変更ボタン -->
    <div class="sell-btn-contents">
      <%= f.submit "変更する", class: "sell-btn" %>
      <%= link_to 'もどる', box_path, class: "back-btn" %>
    </div>
  </div>
<% end %>
