<div class="post">
  <!--画像-->
  <div class="box-show-image-wrap">
    <%= image_tag @box.image, class: "box-show-image" %>
  </div>
  <div class="post-box-wrap">
    <p>名前</p>
    <p>誕生日</p>
    <p>所属</p>
    <p>記念日</p>
    <p>好きなもの</p>
    <p>苦手なもの</p>
  </div>

  <div class="post-box-wrap2">
    <!--名前-->
    <p><%= @box.box_name %></p>

    <!--誕生日-->
    <p>
      <% if @box.birth_day.present? %>
        <ul class="birth-age">
          <li id="birth-date">
            <%= @box.birth_day.strftime("%Y年 %-m月 %-d日") %>
          </li>  
          <!-- 年齢と月齢の表示 -->
          <li id="age-and-months" class="age">(年齢を表示する)</li>
        </ul>
      <% else %>
        未設定です
      <% end %>
    </p>
    <!--所属・職業・特徴-->
    <p><%= @box.occupation %></p>
    <!--記念日-->
    <p>
      <% if @box.anniversary_day.present? %>
        <ul class="birth-age">
          <li id="birth-date">
            <%= @box.birth_day.strftime("%Y年 %-m月 %-d日") %>
          </li>  
          <!-- 年齢と月齢の表示 -->
          <li id="age-and-months" class="age">(年齢を表示する)</li>
        </ul>
      <% else %>
        未設定です
      <% end %>
    </p>
    <!--ここに記念日を表示するためのコードを追加-->
    <!--好きなもの-->
    <p>
      <% if @box.likes.present? %>
        <%= @box.likes %>
      <% else %>
        未設定です
      <% end %>
    </p>
    <!--苦手なもの-->
    <p>
      <% if @box.dislikes.present? %>
        <%= @box.dislikes %>
      <% else %>
        未設定です
      <% end %>
    
    </p>
  </div>
</div>
