<%= render partial: "shared/second-header" %>

<%= form_with model: @box, url: boxes_path, class: 'registration-main', id:"new_post"  do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-title'>
      プレゼントボックスをつくる
    </h1>
  </div>

  <%#= render 'shared/error_messages', model: f.object %>

  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">贈り先のなまえ</label>
      <span class="required">必須</span>
    </div>
    <%= f.text_area :box_name, class:"input-default", id:"box_name", placeholder:"例) プレボ太郎", maxlength:"40" %>
  </div>


    <%# プロフィール画像 %>
    <div class="form-group">
      <div class="form-text">
        プロフィール画像
        <span class="required">必須</span>
      </div>
      <!--画像プレビューの表示-->
      <div id="previews" class="preview-present"></div>

      <div class="click-upload">
        <p>
          クリックしてファイルをアップロード
        </p>
        <%= f.file_field :image %>
      </div>
      
    </div>
    <%# /プロフィール画像 %>

  <div class='register-btn'>
    <%= f.submit "つくる" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>

<%= render "shared/second-footer"%>

