<%= render 'shared/header' %>
<!--メイン-->
<main>
  <div class="contents-wrap">
    <div class="left-side">
            <!--メイン表示-->
      <% if current_user == @box.user %>
        <%= render 'show-ed' %>
      <% end %>
      <%= render 'show-main' %>
    </div>
    <div class="center">



  <div class="boxin-present">
    <% @presents.each do |present| %>
      <% if present %>
        <%= link_to present_path(present), class: "image_link" do %>
          <div class="boxshow">
            <%= image_tag present.image, class: "present-image" if present.image.attached? %>
            <p class="boxshow-text"><%= present.title %></p>
          </div>
        <% end %>
      <% end %>

    <% end %>
  </div>

    </div>
    
    <div class="right-side">
      <!--投稿ボタン-->
      <a class="purchase-btn" href="/presents/new">
        <span class="purchase-btn-text">キロク</span>
        <span class="purchase-btn-text-small">する</span>
        <%= image_tag "addpresent.png", class:"purchase-btn-icon" %>
      </a>
    </div>
  </div>
</main>
