<header class='second-header'>
  <%= link_to image_tag("logo.png", class:"form-logo "), "/" %>
</header>
<main>
    <div class="registe-box">
      <%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
  
    <div class='form-wrap'>
      <div class='form-header'>
        <h1 class='form-header-text'>ログイン</h1>
      </div>
      
        <div class="form-box1">
        <div class='form-text-wrap'>
          <label class="form-text">メールアドレス</label>
          <span class="required">必須</span>
        </div>
        <%= f.email_field :email, class:"input-default", id:"email", placeholder:"emailアドレスをご入力ください", autofocus: true %>
      </div>
      <div class="form-box2">
        <div class='form-text-wrap'>
          <label class="form-text">パスワード</label>
          <span class="required">必須</span>
        </div>
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
        <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
      </div>
      <div class="form-box3">
        <div class='form-text-wrap'>
          <label class="form-text">パスワード(確認)</label>
          <span class="required">必須</span>
        </div>
        <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
      </div>
      <div class="form-box5">
          <!--新規登録-->
          <%= link_to new_user_registration_path, class: "register-link" do %>  
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="lightblue" class="bi bi-person-add" viewBox="0 0 16 16">
              <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM8 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Z"/>
              <path d="M8.256 14a4.474 4.474 0 0 1-.229-1.004H3c.001-.246.154-.986.832-1.664C4.484 10.68 5.711 10 8 10c.26 0 .507.009.74.025.226-.341.496-.65.804-.918C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4s1 1 1 1h5.256Z"/>
            </svg>
          <% end %>
      </div>

      <div class='register-btn'>
        <%= f.submit "ログインする" ,class:"register-red-btn" %>
      </div>
    </div>
    <% end %>
  </div>
</main>
<!-- フッター -->
<div class="second-footer">
  <%= image_tag "logo.png", class: "form-logo" %>
</div>