<header class='second-header'>
  <%= link_to image_tag("logo.png", class:"form-logo "), "/" %>
</header>

<%= form_with model: @user, url: user_session_path, class: 'registration-main', local: true do |f| %>
<div class='form-wrap'>
  <div class='form-header'>
    <h1 class='form-header-text'>ログイン</h1>
  </div>
  
    <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">メールアドレス</label>
      <span class="required">必須</span>
    </div>
    <%= f.email_field :email, class:"input-default", id:"email", placeholder:"emailアドレスをご入力ください", autofocus: true %>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード</label>
      <span class="required">必須</span>
    </div>
    <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
    <p class='info-text'>※英字と数字の両方を含めて設定してください</p>
  </div>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">パスワード(確認)</label>
      <span class="required">必須</span>
    </div>
    <%= f.password_field :password_confirmation, class:"input-default", id:"password-confirmation", placeholder:"同じパスワードを入力して下さい" %>
  </div>

  <div class='register-btn'>
    <%= f.submit "ログインする" ,class:"register-red-btn" %>
  </div>
</div>
<% end %>
<!-- フッター -->
<div class="second-footer">
  <%= image_tag "logo.png", class: "form-logo" %>
</div>